<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="stylesheet" href="./css/styles.css">

</head>

<body>
    <div class="main-content">
    {{>header}}
    <p>This site was created by Divij Sharma. It uses data from weatherstack and mapbox</p>
    <img class="portrait"src="/img/img.PNG">
    </div>
    
    {{>footer}}
</body>

</html>
